.cesium-viewer-bottom {
    display: none !important;
}

.cesium-viewer-fullscreenContainer {
    display: none !important;
}
#mainContainerFront {
    height: 73vh;
}

#cesiumContainer {
    height: fit-content;
}

#filterContainer {
    width: 50%;
}

#formcaca {
    display: none;
}