/* STYLE DU HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #36393f;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.search-bar input[type="text"] {
  width: 300px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.account-section {
  display: flex;
  align-items: center;
}

.account-icon {
  font-size: 24px;
  margin-left: 5px;
}

.account-text {
  font-size: 14px;
  margin-right: 5px;
}
